CREATE TaskLists: Write a name
<div>
  <input type="text" [(ngModel)]="name" />
  <button (click) = "createTaskList()" >Create TaskList</button>
</div>



TaskLists:

<ng-container *ngIf="!loading">
Loading...
</ng-container>

<ng-container *ngIf ="loading">
  <div>
      <div *ngFor = "let l of task_lists">
          <span (click) = "getListOfTasks(l)" >
            <input type="text" [(ngModel)] = "l.name">  
          </span>
          <span style="color: red; font-size: 40px" (click) = "deleteTaskList(l)" > DELETE</span>
          <span style="color: green; font-size: 40px" (click) = "updateTaskList(l)" > EDIT</span>
          <span style="color: blue;font-size: 40px" (click)="getListOfTasks(l)"> TASKS</span>
          
        </div>
  </div> 
</ng-container>
  
<br>

Tasks:

<div>
  <div *ngFor="let t of tasks"> 
    <input type="text" [(ngModel)] = "t.name">
    <br>
  </div>
</div>